<html>
  <h1>Fantasy Rotation!</h1>
  <h2>Because you have nothing better to do!</h2>

  <form action="/signup_or_login" method="post">
    Sign up or resume session: <br />
    Username:
    <input type="text" name="username" autofocus> <br />
    House affiliation: <select name="house">
      <option value=1>Avery</option>
      <option value=2>Blacker</option>
      <option value=3>Dabney</option>
      <option value=4>Fleming</option>
      <option value=5>Lloyd</option>
      <option value=6>Page</option>
      <option value=7>Ricketts</option>
      <option value=8>Ruddock</option>
    </select>
    <input type="submit" value="Submit" />
  </form>
</html>
