<html>
  <h1>Fantasy Rotation!</h1>
  <h2>Because you have nothing better to do!</h2>

  Picture belongs here
  Prefrosh {{ photo_url }}

  <form action="/" method="post">
    Sign up or resume session: <br />
    Username:
    <input type="text" name="username" autofocus> <br />
    House affiliation: <select name="house">
      <option value="Avery">Avery</option>
      <option value="Blacker">Blacker</option>
      <option value="Dabney">Dabney</option>
      <option value="Fleming">Fleming</option>
      <option value="Lloyd">Lloyd</option>
      <option value="Page">Page</option>
      <option value="Ricketts">Ricketts</option>
      <option value="Ruddock">Ruddock</option>
    </select>
    <input type="submit" value="Submit" />
  </form>
</html>
