<html>
  <h1>Fantasy Rotation!</h1>
  <h2>Because you have nothing better to do!</h2>

  Picture belongs here
  Prefrosh {{ photo_url }}

  <form action="" method="post">
    Predicted house:
    <input type="radio" name="prediction" value="Avery">Avery</input>
    <input type="radio" name="prediction" value="Blacker">Blacker</input>
    <input type="radio" name="prediction" value="Dabney">Dabney</input>
    <input type="radio" name="prediction" value="Fleming">Fleming</input>
    <input type="radio" name="prediction" value="Lloyd">Lloyd</input>
    <input type="radio" name="prediction" value="Page">Page</input>
    <input type="radio" name="prediction" value="Ricketts">Ricketts</input>
    <input type="radio" name="prediction" value="Ruddock">Ruddock</input>
    <input type="submit" value="Submit" />
  </form>
</html>
